@import "tailwindcss";

@theme {
  --color-main: #0e1217;
  --color-border: #2d323b;
  --color-gray-default: #a8b3cf;
  --color-gray-default-opacity-60: #a8b3cf99;
  --color-gray-dull: #5ca8b3cf;
  --color-gray-brighten: #2b313a;
  --color-green-default: #39e58c;
  --color-green-default-dull: #1ddc6f3d;
  --color-listing-element: rgb(28, 31, 38);
  --color-violet-deep: #7147ed;
  --color-pink-button: #fc538d;
  --color-pink-button-hovered: #fd619d;
  --color-pink-button-shadow: #fc4079a3;
  --color-red-default: #e04337;
  --color-red-default-dull: #d52b203d;
  --color-orange-default: #ff8e3b;
  --color-orange-default-dull: #ff7a2b52;
  --color-violet-default: #ce3df3;
  --color-violet-default-dull: #e669fb33;
  --color-turquoise-default: #2cdce6;
  --color-turquoise-default-dull: #0dcfdc3d;

  --pink-button-shadow: 0 14px 14px -6px var(--color-pink-button-shadow);

  --breakpoint-3xl: 120rem;
  --breakpoint-xs: 25rem;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    background-color: rgb(14, 18, 23);
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #a8b3cf;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:active,
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }
}

* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}
