@import "tailwindcss";

@theme {
  --color-main: #0e1217;
  --color-border: #2d323b;
  --color-gray-default: #a8b3cf;
  --color-gray-default-opacity-60: #a8b3cf99;
  --color-gray-dull: #5ca8b3cf;
  --color-gray-brighten: #2b313a;
  --color-listing-element: rgb(28, 31, 38);
  --color-violet-default: #7147ed;
  --color-pink-button: #fc538d;
  --color-pink-button-hovered: #fd619d;
  --color-pink-button-shadow: #fc4079a3;

  --pink-button-shadow: 0 14px 14px -6px var(--color-pink-button-shadow);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    background-color: rgb(14, 18, 23);
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #a8b3cf;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:active,
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }
}

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}
